 /* Every Page Format */
a, a:focus, a:hover {
	text-decoration: none;
	color: #263457
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #eee;
	color: #263457;
}
.navbar-default .navbar-nav>li>a {
	color: #263457;
}
.page-header {
	border-bottom: 0px !important;
}
.col-sm-9 {
	width: 100% !important;
}
#front-page {
	width: 100%!important;
}
.navbar.container {
	width: 100% !important;
	margin: 0;
	padding: 0;
}
.btn-primary:hover,
#edit-preview:hover {
	color: #263457;
	background-color: #fff !important;
	border-color: #eee;
	transition: all 0.5s ease-in-out;
}
/*#navbar-collapse > div {
	width: 150%;
}*/

.region.region-content {
	margin-left: 8%;
	margin-top: 2%;
}
.region.region-highlighted {
	margin-top: 5%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
.h1 {
	font-size: 2.3vw;
}
p {
	font-size: 1.2vw;
}
body{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
/* Load Icon */
/*#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url('images/ajax-loader.gif') no-repeat center center white;
}*/

/* Side Social Menu */
div.social-menu {
	clear: both;
}
div.social-menu li {
	list-style-type: none;
	border-bottom: 0px !important;
	padding-bottom: 45px;

}
div.social-menu > ul li a{
	display: block;
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background-color: #eee;
	border-bottom: 0px !important;
	margin-top: 8%;
	font-weight: 100;
	width: 10% !important;
	z-index: 150;
	position: fixed;
	/*-webkit-box-shadow: 10px 0px 46px 1px #404040;
	box-shadow: 10px 0px 46px 1px #404040;*/
	right: -106px;
	border: 1px solid;
	padding: 4px;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}
div.social-menu > ul > li:nth-child(1) > a > i {
	color: #3B5998 !important;
	background: #eee;
}
div.social-menu > ul > li:nth-child(2) > a > i {
	color: #1B95E0 !important;
	background: #eee;
}
div.social-menu > ul > li:nth-child(3) > a > i {
	color: #0077B5 !important;
	background: #eee;
}
div.social-menu > ul > li:nth-child(4) > a > i {
	color: #263457 !important;
	background: #eee;
}
div.social-menu > ul > li:nth-child(5) > a > i {
	color: #C13C31 !important;
	background: #eee;
}
div.social-menu > ul > li > a > span {
	padding-left: 17%;
	font-weight: 400;
	font-size: 15px !important;
}
div.social-menu > ul > li > a > i {
	margin-left: 5px;
}
div.social-menu > ul > li:nth-child(6) > a > i {
	margin-left: 0px !important;
}
div.social-menu > ul > li:nth-child(6) > a {
	margin-left: 10px !important;
}
div.social-menu > ul > li:nth-child(4) > a > span {
	font-size: 10px;
}
.fa-instagram {
	color: #fff;
 	background: #4759A4;
 	background: -webkit-linear-gradient(#4759A4, #8F4195, #D52B5C, #EB5032, #FDC96C);
 	background: -o-linear-gradient(#4759A4, #8F4195, #D52B5C, #EB5032, #FDC96C);
 	background: -moz-linear-gradient(#4759A4, #8F4195, #D52B5C, #EB5032, #FDC96C);
 	background: linear-gradient(to #4759A4, #8F4195, #D52B5C, #EB5032, #FDC96C);
 	border: 3px solid #eee;
 	border-radius: 30%;
 	margin-left: -4px;
}
/*facebook #3B5998
twitter #1B95E0
linkedin #0077B5*/
div.social-menu > ul li a:hover {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	color: #222 !important;
	transform: translate3d(-92px, 0, 0);
	animation-timing-function: ease-in-out;
	/*width: 11% !important;*/
	color: #aaa;
	margin-right: -1%;
	width: 11% !important;
}
div.social-menu > ul > li:nth-child(4){
	font-size: 12px;
	margin-left: 4px;
}
div.social-menu li:hover {
	border-bottom: 0px !important;
}
/* Front image weight */
#front-image {
	z-index: 3;
}
#front-parallax {
	background-image: url('images/office.jpg');
	min-height: 51vw;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 4;
}
/* Logo */
.logo {
	z-index: 50 !important;
}
a.logo img {
	height: 6vw !important;
	width: 14vw;
	margin-top: -30px;
	margin-left: 5%;
	z-index: 100;
	position: fixed;
}
a.name.navbar-brand {
	display: none;
}
#front-page a.logo img {
	margin-top: -52% !important;
	margin-left: 8% !important;
}

/* Main Menu Navigation */
.main-nav {
	position: fixed;
	width: 35vw;
	margin-left: 50%;
	margin-top: 26px;
	top: 0px;
	left: 0px !important;
	height: 13% !important;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 	z-index: 5 !important;

}

#nav-bg {
	background: #F8F8F8;
	position: fixed;
	height: 10em;
	width: 100%;
	top: 0;
	z-index: 4;
}

#main-navbar ul li{
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	font-size: 0.8vw;
	padding-bottom: 10px;
	z-index: 5;
}
/*#main-navbar ul li:hover{
	text-shadow: 1px 1px 10px;
	transition: all .25s ease-in-out;
}*/

#main-navbar ul li a{
	letter-spacing: 2px;
	display: block;
	font-weight: bold;
	position: relative;
	text-decoration: none;
	color: #263457;
}

#main-navbar ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#main-navbar ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Search Bar */

.search-block-form {
	height: 32px;
	width: 12vw;
	z-index: 1;
	float: right;
	margin-top: -73px;
}
#topnav .search-block-form {
	margin-right: 5%;
}
#block-searchform {
	margin-left: 85%;
	margin-top: 20px;
	position: fixed;
	z-index: 5 !important;
}

#front-page #block-searchform {
	margin-top: -49% !important;
}
.button {
	background-color: #263457 !important;
}
/* Header */

#front-topnav {
	overflow: hidden;
	padding-bottom: 55%;
	height: 600px;
}
#certs {
	background-image: url("images/cmmi.png");
	height: 25px !important;
	width: 10%;
	z-index: 50;
}
#main-navbar {
	width: 100% !important;
}
/* White border animation */
#top, #bottom, #left, #right {
  background: #F8F8F8;
  position: fixed;
  z-index: 200;
}
#left, #right {
  top: 0; bottom: 0;
  width:  0px;
}
#left { 
  left: 0; 
}
#right { 
  right: 0; 
}
#top, #bottom {
  left: 0; right: 0;
  height: 0px;
}
#top { 
  top: 0; 
}
#bottom { 
  bottom: 0; 
}
.wrap{
  margin:35px;
}
@-webkit-keyframes easeInLeft { from { width:0; } to { width:20px; } }
@-moz-keyframes easeInLeft { from { width:0; } to { width:20px; } }
@keyframes easeInLeft { from { width:0; } to { width:20px; } }

@-webkit-keyframes easeInTop { from { height:0; } to { height:20px; } }
@-moz-keyframes easeInTop { from { height:0; } to { height:20px; } }
@keyframes easeInTop { from { height:0; } to { height:20px; } }


.ease-in-left {
    width: 0;
  -webkit-animation:easeInLeft ease-in 1;
  -moz-animation:easeInLeft ease-in 1;
  animation:easeInLeft ease-in 1;
}

.ease-in-top {
    height: 0;
  -webkit-animation:easeInTop ease-in 1;
  -moz-animation:easeInTop ease-in 1;
  animation:easeInTop ease-in 1;
}

.fade-in {


  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.fade-in.slow {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}

/*@media (min-width: 600px) {
	.main-nav {
		width: 45%;
		margin-left: 30%;
	}
}
@media (min-width: 1100px;) {
	.main-nav {
		width: 45%;
		margin-left: 40%;
	}
}*/

/*Front Page About Block */
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > div > div
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div > article {
	height: 500px;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > div.content > div {
	font-size: 24px;
	width: 98%;
	margin-left: -3%;
	margin-top: -14%;
	height: 365px;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > div.content > div > p:nth-child(1) > span > a {
	font-size: 14px;
}
#front-page > div > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div > div > article > div > div {
	width: 100%;
}
#front-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-before > div > div > div > div > article > div.content > div {
	padding-bottom: 50px;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > div.content > div > p {
	letter-spacing: 2px;
	line-height: 3;
	margin-top: -2%;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > h2 > a > span {
	display: none;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > div.content > div.field.field--name-field-read-more-core.field--type-link.field--label-above.quickedit-field > div.field--label {
	display: none;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > div.content > div > span > p > a {
	font-size: 24px;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > div.content > div.field.field--name-field-image.field--type-image.field--label-above.quickedit-field > div.field--item > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.view-content > div > article > div > div.field.field--name-field-image.field--type-image.field--label-above > div.field--item > img {
	margin-top: -30%;
	height: 300px;
	width: 400px;
}
/* Front Page Image Block Text */
#block-frontpageblock p {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin-top: -53%;
	width: 60%;
	color: #fff;
	font-size: 3.9vw;
	margin-left: 22%;
	text-shadow: 6px 6px 8px #000000;
	position: fixed;
	z-index: 1;
}
/* Front Page Portfolio Block */

#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after{
	margin-left: -21% !important;
	margin-top: 5%;
	background: url("images/windows70.png");
	height: 749px !important;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#front-page div.social-menu > ul li a {
	margin-top: -46%;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div > div.views-field.views-field-title {
	text-align: center;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div > div > div.views-row.clearfix.row-1,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div > div > div.views-row.clearfix.row-2 {
	padding-top: 4%;
	margin-left: 7%;
	margin-top: 4%
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-1 > div > div > a > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-2 > div > div > a > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-3 > div > div > a > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-4 > div > div > a > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-2 > div.views-col.col-1 > div > div > a > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-2 > div.views-col.col-2 > div > div > a > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-2 > div.views-col.col-3 > div > div > a > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-2 > div.views-col.col-4 > div > div > a > img {
	height: 150px;
	width: 150px;
	transition: all 0.4s ease-in-out;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    border-radius: 50%;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-1 > div > div > a > img:hover,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-2 > div > div > a > img:hover,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-3 > div > div > a > img:hover,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-4 > div > div > a > img:hover,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-2 > div.views-col.col-1 > div > div > a > img:hover,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-2 > div.views-col.col-2 > div > div > a > img:hover,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-2 > div.views-col.col-3 > div > div > a > img:hover,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div > div.views-row.clearfix.row-2 > div.views-col.col-4 > div > div > a > img:hover {
	transition: all 0.4s ease-in-out;
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-header {
	color: #fff;
	font-size: 1.5vw;
	text-transform: uppercase;
	padding-top: 60px;
	text-align: center;
	margin-right: -11%;
	text-shadow: 1px 1px 20px #000;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-2 > div > div > a > img,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div > div.views-row.clearfix.row-1 > div.views-col.col-4 > div > div > a > img {
	height: 97px;
}
#page > div.main-wrapper > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div {
	margin-top: -25px;
}
#page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div > article > h2 {
	margin-top: 24%;
}
#page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(2) > div > div > div > div.views-field.views-field-created > span {
	font-size: 14px;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div > div > div > div.attachment.attachment-after > div:nth-child(1) > div > div.view-content > div {
	width: 80% !important;
	margin-left: 15%;
}
/* Front Page Blog Block */

#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div {
	margin-top: 8%;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div > div.views-field.views-field-body > div > p {
	margin-top: 14%;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div {
	height: auto;
	padding-top: 28px;
	text-align: center;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div > div.views-field.views-field-title,
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div > div.views-field.views-field-body > div > p {
	margin-right: 20px;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(2) > div > div > div {
	font-size: 24px;
	margin-left: -10%;
}
#front-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div:nth-child(2) > div > div > div > div.views-field.views-field-title > span > a {
	margin-top: -7%
}
/* Front Twitter Block */
#block-twitterblock-2 {
	margin-left: 2% !important;
}
/* Front Page Contact Block */
#block-contactusfooter > div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item {
	padding-bottom: 35px;
}
#front-page #edit-name,
#front-page #edit-mail {
	color: #fff;
}
#block-contactusfooter {
	width: 50%;
	margin-left: 27%;
	text-align: center;
	margin-top: 4%;
	font-size: 17px;
	z-index: 0;
}
#block-contactusfooter p,
#block-contactusfooter label {
	color: #fff;
}
#block-contactusfooter > div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item {
	font-size: 17px;
}
/* Search Page */
#navbar-collapse > div > ol {
	margin-left: 10%;
	margin-top: 5%;
	width: 70%;
}
#search-page .region.region-content {
	margin-top: -11%;
}
#search-page h3 {
	text-align: left;
}
#edit-basic > div > div > span > button > span.icon.glyphicon.glyphicon-search {
	font-size: 16 !important;
}

/* About Page */

.flip-container {
	perspective: 1000px;
}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 300px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-color: #263457;
	color: #fff !important;

}
.front a {
	font-weight: bold;
	color: #eee;
}

.front img{
	width: 320px;
	height: 300px;
}
.back img {
	width: 320px;
	height: 300px;
	color: #eee;
}

.back {
	background-color: #263457;
	transform: rotateY(180deg);
	width: 320px;
	height: 300px;
}
#about-page .region.region-content {
	margin-top: -13%;
	width: 90%;
	margin-left: 5%;
}
#about-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div.about-team.views-row {
	padding: 20px;
}
#about-page .about-team.views-row.clearfix.row-2 {
	padding-bottom: 10% !important;
}
#about-page .front  p {
	margin: 55px 50px 9px;
	text-align: center;
	text-shadow: 1px 1px 5px #000;
}
#about-page > div > div > section > div.region.region-content > div > div > div.view-header,
#about-page > div > div > section > div.region.region-content > div > div > div.view-content .front > p {
	font-size: 20px;
	line-height: 2.5;
	padding-bottom: 5%;
}
#about-page div.social-menu > ul li a{
	margin-top: 8% !important;
}

/* Portfolio Page */
#portfolio-page div.social-menu > ul li a{
	margin-top: 8% !important;
}
#portfolio-page .region.region-content {
	margin-left: 5%;
	margin-top: -8%;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div {
	margin-left: 6%;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div {
	margin-left: -7%;
}
.portfolio-image img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.portfolio-image:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.portfolio.views-col {
	width: 22% !important;
}
#portfolio-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div {
	margin-left: 11%;
}
#portfolio-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div > div.portfolio.views-row.clearfix.row-1 > div.portfolio.views-col.col-4 > div > span > div {
	margin-top: 20%;
}
#portfolio-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div > div.portfolio.views-row.clearfix.row-2 > div.portfolio.views-col.col-1 > div > span > div {
	margin-top: 4%;
}
#portfolio-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div > div.portfolio.views-row.clearfix.row-3 > div.portfolio.views-col.col-1 > div > span > div {
	margin-top: -10%;
}

#portfolio-page > div.main-wrapper > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div {
	padding-bottom: 4%;
}
.portfolio img.responsive {
	padding: 10px;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > h1 {
	margin-bottom: 4%;
}
#portfolio-page > div > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div {
	margin-left: 3%;
}
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-1,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-2,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-3,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-4,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-5,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-6,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-7,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-8,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-9,
#portfolio-page > div > div > section > div.region.region-content > div > div > div.view-content > div > div > div.portfolio.views-col.col-10 {
	padding-right: 6%;
}
#portfolio-page > div > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-header {
	font-size: 36px;
	text-align: center;
	padding-bottom: 10px;
}
#portfolio-page > div > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div {
	margin-left: 7%;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > article > div.content > div.field.field--name-field-image.field--type-image.field--label-above.quickedit-field > div.field--item > img {
	margin-left: 10%;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > article > div.content > div.field.field--name-field-image.field--type-image.field--label-above.quickedit-field > div.field--label {
	display: none;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-header {
	font-size: 36px;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div {
	text-align: center;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content .views-field.views-field-field-image a img {
	display: inline-block !important;
	padding-top: 20px;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-header,
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content {
	width: 100%
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-header {
	border-bottom: 1px solid #eee;
}
#portfolio-page > div > div > section > div.region.region-content > article > div > div.field.field--name-field-image.field--type-image.field--label-above > div.field--item {
	margin-left: 16%;
}
#portfolio-page .views-field.views-field-title {
	text-align: center;
	font-size: 15px;
	padding-bottom: 10px;
}
#portfolio-page .clients-row.views-row.clearfix.row-2 {
	padding-bottom: 10%;
}
#portfolio-page .views-field-field-image > div > a > img:hover {
	transition: all 0.4s ease-in-out;
	box-shadow: 0 0 20px #000;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    background-color: white;
}

#portfolio-page .views-field-field-image > div > a > img {
	padding: 50px;
	box-shadow: 0 0 1px #000;
	height: 300px;
	width: 300px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-color: #eee;
}
#portfolio-page .views-field-field-image > div > a > img
#portfolio-page > div > div > section > div.region.region-content > div > div > div > div > div > div.view-content > div > div.views-row.clearfix.row-2 {
	padding-top: 40px;
}

#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div > div.portfolio.views-row.clearfix.row-1 > div.portfolio.views-col.col-1 > div.views-field.views-field-field-client-link > div {
	margin-top: 15px;
	width: 45%;
	background-color: #fff;
	border: 2px solid #032949;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div > div.portfolio.views-row.clearfix.row-1 > div.portfolio.views-col.col-1 > div.views-field.views-field-field-client-link > div:hover {
	background-color: #032949;
	color: #fff !important;
}
#portfolio-page .views-field-field-client-link div {
	width: 50%;
	margin: 0 auto;
}
#portfolio-page .views-field-field-client-link {
	text-align: center;
	padding: 35px;
}
#portfolio-page .clients-col {
	padding: 10px;
	padding-right: 15px;
}
#portfolio-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.attachment.attachment-after > div > div > div.view-content > div > div.clients-row.views-row.clearfix.row-1 > div.clients-col.views-col.col-2 > div.views-field.views-field-title > span > a {
	font-size: 13px;
}
#portfolio-page .views-field-field-client-link > div > a {
	padding: 10px 15px 10px 15px;
	border: 1px solid #032949;
	box-shadow: 0 0 1px #000;
}
#portfolio-page .views-field-field-client-link > div > a:hover {
	background-color: #032949;
	color: #fff !important;
	box-shadow: 0 0 5px #000;
	transition: all 0.4s ease-in-out;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > article > div > div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item {
	margin-top: 2%;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > article > div > div.field.field--name-field-image.field--type-image.field--label-above > div.field--item > img {
	margin: 0 0 0 25%;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > article > div > div.field.field--name-field-image.field--type-image.field--label-above > div.field--label {
	display: none;
}
#portfolio-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > article > div > div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item > p {
	font-size: 24px;
	padding-bottom: 50px;
}
/* Base Pages */
#base-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content {
	margin-top: -10%;
}
#base-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > article > div > div.field.field--name-field-image.field--type-image.field--label-above > div.field--label {
	display: none;
}
#base-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > article > div > div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item > p > em {
	line-height: 3em;
}
#base-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > article > div > div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item > p {
	padding-bottom: 5%;
	padding-top: 16%;
	width: 92%;
}
#base-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > article > div > div.field.field--name-field-image.field--type-image.field--label-above > div.field--item > img {
	top: 0;
	left: 45%;
	right: 0;
	bottom: 0;
}
/* Blog Page */
#blog-page {
	background: url("images/writing.jpg");
	max-height: 100%;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#blog-page div.social-menu > ul li a{
	margin-top: 8% !important;
}
#blog-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > article > h2 > a > span {
	font-size: 22px;
}
#blog-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div > article > div.content > div > p {
	text-align: left;
	font-size: 18px;
	padding: 10px;
	line-height: 1.0;
}
#blog-page .region.region-content {
	margin-top: -15%;
	width: 87%;
}
#blog-page p {
	font-size: 18px;
	line-height: 2;
}
#blog-page .page-header {
	border-bottom: 1px solid #eee !important;
	font-weight: bold;
	letter-spacing: 10px;
	width: 100%;
	position: fixed;
	background-color: #eee;
	padding-top: 44px;
	margin-top: -57px;
	margin-left: -8%;
	z-index: 5 !important;
}
#blog-page content {
	padding: 10px;
}
#blog-page > div.main-container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div > div:nth-child(1) {
	padding-top: 30px;
}
#blog-page .field--type-text-with-summary {
	border-bottom: 1px solid #263457;
}
#blog-page p:last-child {
	border-bottom: 0px !important;
} 
/* Contact Us Page */
#contact-page .col-sm-9 {
	background: url("images/phone.jpg");
	max-height: 100%;
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#contact-page div.social-menu > ul li a{
	margin-top: 8% !important;
}
#contact-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-header,
#contact-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content,
#contact-page > section > div.region.region-content > div > div > div.view-header,
#contact-page > section > div.region.region-content > div > div > div.content,
#contact-page > section > div.region.region-content > div > div > div.view-content > div {
	font-size: 24px;
	padding-top: 20px;
	text-align: center;
}
#contact-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content > div > div > div.view-content > div > div.views-field.views-field-field-gmaps > div > p > a {
	font-size: 16px;
}
#contact-page > div.main-container.container.js-quickedit-main-content > div > section > div.region.region-content,
#contact-page > section > div.region.region-content {
	margin-left: 18%;
	width: 70% !important;
}
#edit-preview {
	color: #fff;
}
#contact-message-feedback-form {
	padding-bottom: 50px;
}
#contact-page .region.region-content {
	margin-top: -11% !important;
	color: #263457;
}
#contact-page .view-header {
	width: 58%;
	margin-left: 21%;
	text-align: center;
	font-size: 16px;
}

#contact-page > section > div.region.region-content > h1,
#contact-page > section > div.region.region-content > div > div > div.view-content > div > div.views-field.views-field-field-office-address > div {
	text-shadow: 1px 1px 5px #000;
}
#contact-page #contact-message-feedback-form {
	width: 55%;
	margin-left: 21%;
	margin-top: -8%;
}
#contact-page .views-field-field-office-address,
#contact-page .views-field-field-office-phone{
	width: 15%;
}
#contact-page .views-field-field-office-address .field-content,
#contact-page .views-field-field-office-phone .field-content {
	font-weight: bold;
	font-size: 16px;
}
#contact-page .views-field-field-gmaps {
	width: 20%;
	margin-top: 6%;
}
/* Footer */
.footer,
footer {
	width: 100% !important;
	overflow: hidden;
	background-color: #263457;
	padding-bottom: 2% !important;
}
.front-footer {
	height: 750px !important;
}
/* Return to Top Button */
#return-to-top {
    position: fixed;
    bottom: 60px;
    right: 50px;
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    position: relative;
    left: 13px;
    top: 11px;
    font-size: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}*/
#return-to-top:hover i {
    top: 5px;
}

/* Region Bottom */
.region-bottom {
	background-color: #031128;
	color: #fff;
	padding-bottom: 7%;
}
#block-copyright {
	width: 430px;
	height: 125px;
}
#block-copyright > div {
	margin-top: 209px;
	margin-left: 28px;
}
#block-copyright p {
	font-size: 0.8vw;
}
#block-addressblock {
	width: 200px;
	margin-left: 7%;
	margin-top: -75px;
	text-align: center;
	line-height: 0.5;
}
#block-addressblock > div > p {
	font-size: 0.9vw;
}
#block-ekuber-footer {
	float: left;
	color: #fff;
	margin-top: -88px;
	margin-left: 23%;
}

#block-ekuber-footer > ul {
	line-height: 0.9;
}
#block-ekuber-footer > ul > li > a:hover,
#block-middlefootermenu > ul > li > a:hover {
	background-color: transparent;
}
#block-middlefootermenu {
	float: left;
	color: #fff;
	margin-top: -95px;
	margin-left: 32%;
}
#block-middlefootermenu > ul {
	line-height: 0.4;
}
#block-middlefootermenu > ul > li,
#block-ekuber-footer > ul > li {
	text-align: center;
}
#block-middlefootermenu,
#block-ekuber-footer {
	color: #fff;
	background-color: #031128;
	padding-bottom: 3%;
	height: 100px;
}
#block-middlefootermenu ul li a,
#block-ekuber-footer ul li a{
	letter-spacing: 2px;
	display: block;
	font-weight: bold;
	position: relative;
	text-decoration: none;
	color: #fff;
	padding: 12px;
}
#block-middlefootermenu ul li a:before,
#block-ekuber-footer ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#block-middlefootermenu ul li a:hover:before,
#block-ekuber-footer ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Media Queries */

/* Laptop */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  	#front-page a.logo img {
      margin-top: -72%;
      margin-left: 8%;
    }
    .main-nav {
      width: 42%;
      margin-left: 35%;
    }
    #front-page #block-searchform {
      margin-top: -69%;
      margin-left: 78%;
    }
    #block-frontpageblock p {
      font-size: 50px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) { 
  	#front-page a.logo img {
      margin-top: -72%;
      margin-left: 8%;
    }
    .main-nav {
      width: 42%;
      margin-left: 35%;
    }
    #front-page #block-searchform {
      margin-top: -69%;
      margin-left: 78%;
    }
    #block-frontpageblock p {
      font-size: 50px;
    }
}

/* Smartphones */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}*/

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}*/

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}*/

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}*/

/* Landscape */
/*@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
}*/

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
/*@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
}*/

/* Portrait */
/*@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
}*/

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
/*@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
}*/

/* Portrait */
/*@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
}*/

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
/*@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
}*/

/* Portrait */
/*@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
}*/

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
/*@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
}*/

/* Portrait */
/*@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
}*/

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}*/

/* Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
}*/

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}*/

/* Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
}*/

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
}
*/
/* Landscape */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
}*/

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
/*@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
}*/

/* Portrait */
/*@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 
}*/

/* Landscape */
/*@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 
}*/

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
/*@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
}*/

/* Portrait */
/*@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {
}*/

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}
*/
/* Landscape */
/*@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {
}*/

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}*/

/* Portrait */
/*@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}*/

/* Landscape */
/*@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}*/